# {{ ansible_managed }}
client:
  hosts:
    - {{ ansible_default_ipv4.address }}
  port: "{{ elasticsearch_http_port }}"
  timeout: 30

logging:
  loglevel: INFO
  logfile: /var/log/curator.log
logformat: default
